@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --text-color-white: #ffffff;
  --text-color-black: #000000;
  --amazon-brand-color: #ffd814;

  --configuration-blue: #146eb4;
  --configuration-black: #111111;

  /* Cart Card color vars */
  --cart-background: #ffffff;
  --cart-text-color-light: #565959;
  --cart-link-color: #007185;
  --cart-progressbar-bg: 187, 247, 208;
  --cart-prohressbar-top-bg: 21, 128, 61;
  --cart-quantity-bg: #f0f2f2;
  --cart-quantity-border-color: #d5d9d9;
  --cart-quantity-hover-bg: #e3e6e6;
  --cart-quantity-focus-bg: #edfdff;
  --cart-quantity-focus-border-color: #007185;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "Amazon Ember";
  src: url("/fonts/Ember/AmazonEmber_Rg.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Amazon Ember";
  src: url("/fonts/Ember/AmazonEmber_Bd.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Cart Styles */
.shopping-cart-container {
  /* bg-white p-5 */
  background-color: var(--cart-background);
  padding: 1.25rem;
}

.shopping-cart-price {
  /* flex justify-end -mt-2 text-[#565959] */
  display: flex;
  justify-content: flex-end;
  margin-top: -0.5rem;
  color: var(--cart-text-color);
}

.shopping-cart-subtotal {
  /* flex justify-end text-lg/6 mt-1 */
  display: flex;
  justify-content: flex-end;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-top: 0.25rem;
}

.shopping-cart-subtotal-price {
  /* font-bold pl-1 */
  font-weight: 700;
  padding-left: 0.25rem;
}

/* Cart Item Styles */

.cart-item-container {
  /* flex p-4 pr-0 gap-4 */
  display: flex;
  padding: 1rem;
  padding-right: 0;
  gap: 1rem;
}

.cart-image {
  /* p-0 relative w-52 h-52 */
  padding: 0;
  position: relative;
  width: 13rem;
  height: 13rem;
}

.cart-content-container {
  padding: 0;
}

.cart-item-details {
  /* flex gap-5 p-0 */
  display: flex;
  gap: 1.25rem;
  padding: 0;
}

.cart-shopping-details {
  /* p-0 grow flex flex-col gap-1 */
  padding: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.cart-price {
  /* flex justify-end text-lg/6 font-bold */
  display: flex;
  justify-content: flex-end;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.cart-bottom-tools {
  /* flex items-center gap-2 p-0 mt-2 */
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0;
  margin-top: 0.5rem;
}

.cart-quantity {
  /* rounded-[7px] shadow-md text-[13px] */
  border: 1px solid var(--cart-quantity-border-color);
  border-radius: 8px;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  font-size: 13px;
  background-color: var(--cart-quantity-bg);
}

.cart-quantity:hover {
  background-color: var(--cart-quantity-hover-bg);
}

.cart-quantity.Mui-focused {
  border-color: var(--cart-quantity-focus-border-color);
  box-shadow: 0 0 0 3px #c8f3fa;
  background: var(--cart-quantity-focus-bg);
}

.MuiOutlinedInput-notchedOutline {
  display: none;
}

.MuiSvgIcon-root {
  right: 1px;
}

.cart-links {
  /* text-xs/4 cursor-pointer text-[#007185] */
  font-size: 0.75rem;
  line-height: 1rem;
  cursor: pointer;
  color: var(--cart-link-color);
}

/* Checkout Styles */

.checkout-container {
  /* bg-white p-4 */
  background-color: var(--cart-background);
  padding: 1rem;
  top: 0;
  position: relative;
}

.checkout-progress-bar-bg {
  /* w-full h-2.5 rounded-full bg-green-200 relative overflow-hidden mb-2 */
  width: 100%;
  height: 0.625rem;
  border-radius: 9999px;
  background-color: rgb(var(--cart-progressbar-bg));
  position: relative;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

.checkout-progress-bar-top {
  /* h-full bg-green-700 absolute */
  height: 100%;
  background-color: rgb(var(--cart-prohressbar-top-bg));
  position: absolute;
}

.checkout-progress-label {
  /* flex flex-row mb-5 */
  display: flex;
  flex-direction: row;
  margin-bottom: 1.25rem;
}

.checkout-progress-checkmark {
  /* bg-green-700 rounded-full w-5 h-5 flex items-center justify-center mr-2 */
  background-color: rgb(var(--cart-prohressbar-top-bg));
  border-radius: 9999px;
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
}

.checkout-progress-checkmark-svg {
  /* text-white text-sm */
  color: var(--text-color-white);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.checkout-button {
  /* w-full bg-yellow-500 text-black py-2 rounded-none */
  background-color: var(--amazon-brand-color);
  color: var(--text-color-black);
  height: 32px;
  font-size: 14px;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 8px;
  text-transform: none !important;
  box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
}

.checkout-button:hover {
  background-color: var(--amazon-brand-color);
}

/* Configuration Original */
.config-0 {
  height: 32px;
  font-size: 14px;
  background-color: var(--amazon-brand-color);
  color: var(--text-color-black);
}

.config-0-position {
  position: relative;
  align-self: flex-start;
}

/* Configuration Size */
.config-1 {
  /* smaller size */
  height: 24px;
  font-size: 12px;
}

.config-2 {
  /* larger size */
  height: 45px;
  font-size: 18px;
}

/* Configuration Color */
.config-3 {
  /* blue color */
  background-color: var(--configuration-blue);
  color: var(--text-color-white);
}

.config-3:hover {
  background-color: var(--configuration-blue);
}

.config-4 {
  /* black color */
  background-color: var(--configuration-black);
  color: var(--text-color-white);
}

.config-4:hover {
  background-color: var(--configuration-black);
}

/* Configuration Position */
.config-5-position {
  /* sticky */
  position: sticky;
  align-self: flex-start;
}

.config-6-position {
  /* bottom relative */
  position: relative;
  align-self: flex-end;
}
